{% extends 'base.html' %}


{% block content %}
{% include 'navbar.html' %}

<div class="col">
    <div class="card border-dark" style="margin-left:18%;padding-right:15%;padding:50px;margin-bottom:10px; margin-top:50px;">
        <h3 class="card-header text-center" style="background-color:#696969">Blood Donor Registration Form</h3>
        <form action="" method="post" style="background-color: #c0c4a0">
            <div class="col-sm-10 offset-sm-1">
                {% csrf_token %}
                {{forms.as_p}}
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-success">Submit</button>
            </div> 
        </form>
    </div>
</div>

    <!-- <div class="container-fluid">
        <div class="form_body">
            <h2 class="text-center font-">Blood Donor Registration Form</h2>
            <form action="" method="post">
                {% csrf_token %}
                {{forms.as_p}}
                <button type="submit" class="btn reg_btn">Submit</button>
            </form>
        </div>
    </div> -->


{% endblock  %}